<!DOCTYPE html> 
<html>
  <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script> 
    <script type="text/javascript" src="highcharts.js"></script> 
    <script type="text/javascript" src="app.js"></script>

  </head>
  <body>
    <div id="placeholder"></div>
  </body>
</html>
